.greeting-button{
    background: pink;
    border-color: hotpink;
    margin-bottom: 5px;
    width: 60%;
}


a::before {
    content: url("../img/peony.png");
  
}

.Home-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Стили для очень маленьких экранов (дисплей максимум 575 пикселей) */
@media (max-width: 575px) {
    .Home-page{
        height: 88vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .greeting-button{
        background: pink;
        box-shadow: hotpink;
        width: 90%;
    }
}

/* Стили для маленьких экранов (дисплей шириной от 576 пикселей до 767 пикселей) */
@media (min-width: 576px) and (max-width: 767px) {
    .Home-page{
        height: 88vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .greeting-button{
        background: pink;
        box-shadow: hotpink;
        width: 90%;
    }
}


/* Стили для средних экранов (дисплей шириной от 768 пикселей до 991 пикселей) */
@media (min-width: 768px) and (max-width: 991px) {}


/* Стили для больших экранов (дисплей шириной от 992 пикселей до 1199 пикселей) */
@media (min-width: 992px) and (max-width: 1199px) {}


/* Стили для очень больших экранов (дисплей минимум 1200 пикселей) */
@media (min-width: 1200px) {}