html {
  height: 100%;
}

a{
  text-decoration: none;
  color: black;
}

button{
  border-radius: 20px;

}

body {
  min-height: 100%;
  /*overflow: hidden;*/
  margin: 0;
}

@media (max-width: 1920px) {
  body{
    background: url(".\img\background2.jpg") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
}

@media (max-width: 320px) {
  body{
    background: url(".\img\background.jpg") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
}